body {
  padding: 0; margin: 0; margin: 40px 80px 0 80px; margin-top: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: blue;
}
div{
  box-sizing: border-box;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
}
.index{
  padding-right: 80px;
  overflow: hidden;
}
.index li{
  font-size: 22px;
  line-height: 64px;
  height: 64px;
}
.index li a{
  display: block;
  padding-left: 24px;
}
.index li a:hover{
  background: skyblue;
}